/* Galaxy colors */
:root {
  --gx-orange-light: #fdbf6f;
  --gx-orange-dark: #fe7f02;

  --gx-blue-light: #a3cbdf;
  --gx-blue-dark: #2077b3;

  --gx-green-light: #9fd99a;
  --gx-green-dark: #75d279;

  --gx-red-light: #fb9998;

  --gx-gray-light: #cacaca;
  --gx-gray-dark: #939393;
}

html {
  font-size: 1rem;
  display: block;
  margin: auto;
  min-width: 800;
  min-height: 300;
  max-width: 3200px;
  max-height: 1200px;
  overflow: hidden;
}

body {
  color: white;
}

a:link {
  color: var(--gx-blue-dark);
}

a:hover {
  color: var(--gx-blue-light);
}

.titlepage {
  display: none !important;
  visibility: hidden;
}

div.section {
  background-color: black;
  padding: 50px !important;
  counter-increment: myPage;
}

.firstslide img {
  justify-content: center;
  position: fixed;
  bottom: auto !important;
  top: 40% !important;
  width: 60%;
  height: auto !important;
  left: 20% !important;
  align-self: center !important;
}

.warning {
  text-align: center !important;
  top: 3em;
  bottom: 3em;
}

.onslides {
  visibility: visible !important;
  background-color: transparent;
}

h1,
h2,
h3 {
  color: var(--gx-orange-dark);
}

h1 {
  font-size: 4rem;
  counter-increment: myPage;
  padding: 1rem;
  margin-bottom: 3rem;
  justify-content: center;
  text-align: center;
  position: static !important;
}

.firstslide h1 {
  width: 100% !important;
  left: 0;
  right: 0;
  margin-top: 8rem !important;
  display: block;
  align-content: center;
  align-self: center;
  padding: 2rem;
}

.maintitle h1 {
  vertical-align: center !important;
  width: 100%;
  left: 0;
  top: 50%;
  display: block;
  counter-increment: myPage;
  margin-top: 5rem;
  align-self: center;
  align-content: center;
  font-size: 5rem;
  padding: 1rem;
  position: absolute;
}

.section {
  font-family: 'Avenir Next', 'Avenir', 'Helvetica';
}

.section h1 {
  font-size: 1rem;
  position: static;
  top: 2%;
  text-align: center;
  width: 100%;
  display: block;
  counter-increment: myPage;
  padding: 1rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 3rem;
  position: static;
}

h3 {
  font-size: 2rem;
}
.reveal h1,
.reveal h2,
.reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
  counter-increment: myPage;
}

.document {
  display: none;
}

.two_col {
  display: block;
  height: auto;
  align-self: stretch;
  justify-content: center;
  padding: 0rem 1rem 2rem 1rem;
  margin: 1rem;
  border: 1px solid #aeb6bf;
}

.two_col_one_row::after {
  content: '';
  clear: both;
  display: table;
}

.two_col::after {
  content: '';
  clear: both;
  display: table;
}

.two_col_one_row {
  display: block;
  height: auto;
  align-self: stretch;
  align-content: center;
  justify-content: center;
  padding: 0rem 1rem 2rem 1rem;
  margin: 1rem;
  border: 1px solid #aeb6bf;
}

.col {
  width: 50%;
  float: left;
  align-self: center;
  position: relative;
}

.col p {
  font-size: 80%;
  align-self: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
}

.col img {
  align-self: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
}

pre {
  font-family: inherit;
  white-space: pre-line;
  border: 1px solid #ebedef;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 80%;
  margin: 4% 10% 4% 10%;
}

pre p {
  margin: 0;
}

pre code {
  color: black;
}

code {
  color: var(--gx-gray-light);
  vertical-align: middle;
  font-weight: 500;
  white-space: pre-wrap !important;
}

table {
  position: relative;
  padding: 1rem;
  line-height: 1.2rem;
  margin: 1rem;
}

.spoken {
  width: 100%;
  position: fixed;
  display: none !important;
  visibility: hidden !important;
  color: transparent !important;
}

img {
  position: relative;
  align-self: center;
  visibility: visible;
}

.wide img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.wide {
  width: 80rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

.wide p {
  width: 100%;
  align-self: center;
  text-align: center;
}

.tall img {
  height: inherit;
  max-width: 100%;
  max-height: 60rem;
  display: block;
  margin: 0 auto;
}

.tall {
  width: auto;
}

.tall p {
  width: inherit;
  height: auto;
  text-align: center;
}

.small img {
  max-height: 20rem;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.small {
  height: 20%;
  width: auto;
  align-self: center;
}

.small p {
  width: inherit%;
  align-self: center;
  text-align: center;
}

.square img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.square {
  width: auto;
  height: 60rem;
  align-self: center;
}

.square p {
  width: 100%;
  align-self: center;
  text-align: center;
}

ol {
  line-height: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

ul {
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* ------------------------------Obsolete, do not use -----------------------------------------*/

.workflowimg {
  width: 100%;
  align-self: center;
}

.workflowimg p {
  width: 100%;
  align-self: center;
  text-align: center !important;
}

.workflowimg img {
  height: auto !important;
  width: 35% !important;
  align-self: center !important;
}

.legend {
  vertical-align: bottom;
  span: 2;
  text-align: center;
  position: static;
  display: block;
  clear: both;
  margin-left: 3em;
  margin-right: 3em;
}

.double {
  width: 100%;
  align-self: center;
  vertical-align: middle;
  padding: 2rem;
  display: table;
  clear: both;
  align-items: center;
  position: relative;
}

.authorinfo {
  font-size: 1rem;
  position: static;
  align-self: center !important;
  justify-content: center !important;
  margin-bottom: 5rem !important;
  text-align: center !important;
}

.personal_class {
  background-color: var(--gx-gray-dark);
  border: 1px solid #212f3c;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

.image {
  position: relative;
  align-self: center;
  visibility: visible;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

/* ------------------------------------------------------------------------------------------*/
