.titlepage {
  display: none !important;
  visibility: hidden;
}


div.section {
  background-color: white;
  padding: 50px !important;
  counter-increment: myPage;
}

.firsttitle h1{
  font-size: 4rem ;
  vertical-align: center !important;
  justify-content: center;
  text-align: center;
  position: static !important;
  width:100% !important;
  left: 0;
  right: 0;
  margin-top: 8rem !important;
  display: block;
  align-content: center;
  align-self: center;
  padding: 2rem ;
}

.warning{
  text-align: center!important;
  top: 3em;
  bottom: 3em;
}

.authorinfo{
  font-size: 1rem;
  position: static;
  align-self: center !important;
  justify-content: center !important;
  margin-bottom: 5rem !important;
  text-align: center !important;
}



.maintitle h1 {
  vertical-align: center !important;
  justify-content: center;
  text-align: center;
  position: static !important;
  color: #34495E;
  background: #D5D8DC  !important;
  width:100%;
  left: 0;
  top: 50%;
  display: block;
  counter-increment: myPage;
  margin-top: 5rem;
  align-self: center;
  align-content: center;
  font-size: 5rem ;
  padding : 1rem;
  position: absolute;
}

.bignbold{
  font-size: 3rem  !important;
  margin: 2rem;
}

.onslides{
  visibility:  visible !important;
}

html {
  font-size: 1rem;
  display: block;
  margin:auto;
  min-width: 800;
  min-height: 300;
  max-width: 3200px;
  max-height: 1200px;
  overflow: hidden;
}

body{}

h1::before {
  color: black;
  background: #D5D8DC;
  position: fixed;
  bottom: 2%;
  text-align:right;
  font-size: 1rem !important;
  width:100%;
  left: -10px !important;
  right: 0;
  padding-right: 20% !important;
  margin: 0px !important;
  content: 'Understanding Galaxy history system' ;
}


.maintitle h1::before {
  color: black;
  background: #D5D8DC;
  position: fixed;
  bottom: 2%;
  text-align:right;
  font-size: 1rem !important;
  width:100%;
  left: -10px !important;
  right: 0;
  padding-right: 20% !important;
  margin: 0px !important;
  content: 'Understanding Galaxy history system' ;
}


h1 {
  color: #34495E;
  counter-increment: myPage;
  padding: 1rem;
  margin-bottom: 3rem;
}

.section h1 {
  font-size: 1rem;
  color: #34495E;
  background: #D5D8DC  !important;
  position: static;
  top: 2%;
  text-align:center;
  width:100%;
  display: block;
  counter-increment: myPage;
  padding: 1rem;
  margin-bottom: 3rem;
}


.personal_class {
  background-color: #EBEDEF;
  border:1px solid #212F3C;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

h2 {
  font-size: 3rem;
  color: #34495E;
  position: static;
}

h3 {
  font-size: 2rem;
  color: #34495E;
}


.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
  counter-increment: myPage;
}



.document {
  display: none;
}

.two_col {
  display: block;
  height: auto;
  align-self: stretch;
  justify-content: center;
  padding:  0rem 1rem 2rem 1rem;
  margin: 1rem;
  border: 1px solid #AEB6BF;
}

.two_col_one_row::after {
  content: "";
  clear: both;
  display: table;
}

.two_col::after {
  content: "";
  clear: both;
  display: table;
}

.two_col_one_row{
  display: block;
  height: auto;
  align-self: stretch;
  align-content: center;
  justify-content: center;
  padding:  0rem 1rem 2rem 1rem;
  margin: 1rem;
  border: 1px solid #AEB6BF;
}


.col {
  width: 50%;
  float: left;
  align-self: center;
  position: relative;
}


.legend {
  vertical-align: bottom;
  span: 2;
  text-align: center;
  position:  static;
  display: block;
  clear: both;
  margin-left: 3em;
  margin-right: 3em;
}


.col p {
  font-size: 80%;
  align-self: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
}

.col img {
  align-self: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
}


.double{
  width: 100%;
  align-self: center;
  vertical-align: middle;
  padding: 2rem;
  display: table;
  clear: both;
  align-items: center;
  position: relative;
}

pre {
  font-family: inherit;
  white-space: pre-line;
  background-color: #EBEDEF;
  border:1px solid #212F3C;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width:80%;
  margin: 4% 10% 4% 10% ;
}

pre p {
  margin: 0 ;
}

code {
  font-family: Consolas,"courier new";
  color: #212F3C;
  vertical-align: middle;
  font-weight: 500;
  white-space:pre-wrap !important;
}

table {
   align: center;
   position: relative;
   padding: 1rem;
   line-height: 1.2rem;
   background-color: #EBEDEF;
   margin: 1rem;
}


.spoken {
  width: 100%;
  position: fixed;
  display: none !important;
  visibility: hidden  !important;
  color: transparent!important;
}



img  {
  width: 80%;
  position: relative;
  align-self: center;
  visibility: visible;
}

.image  {
  width: 80%;
  position: relative;
  align-self: center;
  visibility: visible;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 2em;
}



.wide img {
  height: auto !important;
  width: 50%  !important;
  left: 25% !important;
  align-self: center !important;
  justify-content: center !important;
}

.wide {
  width: 100%;
  align-self: center;
 }

.wide p {
  width: 100%;
  align-self: center;
  text-align: center !important;
}

.verytall img {
  height: auto !important;
  width: 40%  !important;
  left: 30% !important;
  align-self: center !important;
  justify-content: center !important;
}

.verytall {
  width: 100%;
  align-self: center;
 }

.verytall p {
  width: 100%;
  align-self: center;
  text-align: center !important;
}

.tall img {
  height: auto !important;
  width: 30%  !important;
  left: 35% !important;
  align-self: center !important;
  justify-content: center !important;
}

.tall {
  width: 100%;
  align-self: center;
 }

.tall p {
  width: 100%;
  align-self: center;
  justify-content: center;
  text-align: center !important;
}


.small img {
  height: auto !important;
  width: 20%  !important;
  left: 40% !important;
  align-self: center !important;
  justify-content: center !important;
}

.small {
  width: 100%;
  align-self: center;
 }

.small p {
  width: 100%;
  align-self: center;
  justify-content: center;
  text-align: center !important;
}


.square img {
  height: auto !important;
  width: 50%  !important;
  left: 25% !important;
  align-self: center !important;
  justify-content: center ;
}

.square {
  width: 100%;
  align-self: center;
 }

.square p {
  width: 100%;
  align-self: center;
  text-align: center  !important;
}

.workflowimg img {
  height: auto !important;
  width: 35%  !important;
  left: 33% !important;
  align-self: center !important;
}

.workflowimg {
  width: 100%;
  align-self: center;
 }

.workflowimg p {
  width: 100%;
  align-self: center;
  text-align: center !important;
}


ol {
  line-height: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

ul {
}
